table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
}
table tr th{
  border: 1px solid black;
}
table tr td{
  border: 1px solid black;
}

div{
  float: left;
}


.vertical-form{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

.vertical-form .vertical-label{
  width: 600px;
 }
